.Radio
{
    width: 500px;
    height: 500px;
    background-color: #ececec
}

.Radio{
    margin: 0;
    outline: none;
    margin: 30px;
    height: 40px;
    width: 40px;
    appearance: none;
    box-shadow: 5px 5px 5px rgba(80, 78, 78, 0.2) ,-5px -5px 10px rgb(255, 255,255,0.5);
    border:1px solid #ececec;
    border-radius: 50%;
    background-color: #ececec;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: 20px;
}

.Radio:checked
{
    box-shadow: 5px 5px 5px rgba(80, 78, 78, 0.2) inset ,5px 5px 5px rgba(80, 78, 78, 0.2) ,-5px -5px 10px rgb(255, 255,255,0.5) inset,-5px -5px 10px rgb(255, 255,255,0.5);
}