

.CheckButton{
    margin: 10px 40px;
    outline: none;
    height: 50px;
    width: 50px;
    appearance: none;
    box-shadow: 5px 5px 5px rgba(80, 78, 78, 0.2) ,-5px -5px 10px rgb(255, 255,255,0.5);
    border-radius: 50%;
    border:5px solid #ececec
}

.CheckButton:checked{
    box-shadow: 5px 5px 5px rgb(70, 68, 68,0.2) inset ,-5px -5px 10px rgb(255, 255,255,0.5) inset;
}
